  a {
    text-decoration: none;
  }

  p {
      color: white;
      font-size: 19px;
  }
  body {
    background: radial-gradient(circle, #241e28 20%, #1c1422 70%);
  }
  
  h1 {
    color: white;
    font-family: 'M PLUS Code Latin',sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
  }
  
  #category {
    font-family: anton;
    font-weight: 500;
    font-size: 15px;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: solid 2px #F700AA;
    color: white;
    margin: 10px;
  }
  
  #title {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    color: white;
    width: 90%;
    font-size: 18px;
    font-family: 'Encode Sans SC', sans-serif;
    text-transform: uppercase;
  }

  #description {
    color: #E293B0;
    width: 90%;
    text-align: left;
    margin: auto;
    padding-top: 15px;
    font-size: 14px;
  }
  
  #banner {
    margin: 20px;
    height: 800px;
  }
  
  #editor {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
  }
  
  .logo-image {
      width: 57%;
  }
  .nav-wrapper {
      background-color: none;
      width: 95%;
      font-family: 'Encode Sans SC', sans-serif;
  }
  .nav-links {
      color: white;
      font-size: 30px;
      font-family: 'Encode Sans SC', sans-serif;
  }
  .black-hole{
    width: 100%;
    margin: auto;
    align-items: center;
    text-align: center;
    display: flex;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('https://i.postimg.cc/RFjH0L33/Untitled-design-9.png');
  }

  .blog-page {
    color: black;
  }
  .card-wrapper {
      background-color: #1B1422;
      
  }
  .left-articles{
      margin-bottom: 30px;
  }
  .uk-card {
    box-shadow: 1px 4px 20px -7px #1B1422;
    position: relative;
    margin-bottom: 50px;
    box-sizing: border-box;
    transition: box-shadow .1s ease-in-out;
}
.uk-card-body {
    padding: 0px;
    padding-bottom: 30px;
}
.uk-navbar-nav>li>a {
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    transition: .1s ease-in-out;
    transition-property: color,background-color;
}
.layout{
    background: radial-gradient(circle, #17111c 20%, #020303 70%);
}
  img:hover {
    opacity: 1;
    transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  @media screen and (max-width: 1051px) {
    .nav-wrapper{
      display: flex;
      flex-direction: column;
      margin: auto;
      justify-content: center;
    }
    .uk-navbar-left, .uk-navbar-right, .uk-navbar {
      width: 100%;
      margin: auto;
      justify-content: center;
    }
    .logo-image {
      width: 77%;
    }
    .uk-section {
      padding: 0px;
    }
  }